img.trashDiv  {
	width: 20px;
    height: 20px;
}

div.panel {
	width: 100%;
	margin: 0;
}

button {
	background: none;
	border: none;
	box-shadow: none;
}

div.container {
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.center {
	width: 100%;
	float: right;
}

#mainLeft {
	width: 50%;
	float: left;
}

#demo {
	width: 50%;
	float: right;
	display: none;
}

#hidden {
	display: none;
}

#hiddenEnv {
	display: none;
}

.blueText {
	color: blue;
}
.greenColor {
	color: green;
	
}
.redText {
	color: red;
}
.greyText {
	color: #C0C0C0;
}
.myFont {
    font-size:x-small;
    color: blue;
}



#add_form_div {
  width: 50%;
  margin:0 auto;
  text-align: left;
}

.content h3 {
	background:white;
	opacity:0.7;
	white-space:nowrap;
    overflow:hidden;
    border-right: 3px solid black;
    -webkit-animation: typing 3s steps(50, end), 
                        blink-caret 2s step-end 2s;
    -moz-animation: typing 3s steps(50, end), 
                        blink-caret 2s step-end 2s;
}

@-webkit-keyframes typing {
    from { width: 0; }
    to { width:400px; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:400px; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
